.breadcrumb_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1000px;
    margin: 30px auto;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background-color: var(--first-color);
    border-radius: var(--border-radius);
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    gap: 40px;
}

.image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.details {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    height: 100%;
}

.title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.genre {
    font-size: 1.2rem;
    color: #888;
    margin-bottom: 1rem;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.description {
    margin-bottom: 2rem;
}
