.left_filter_game_list_container {
    display: flex;
    margin: 140px 0 0 0;
    width: 80vw;
}

@media (max-width: 1570px) {
    .left_filter_game_list_container {
        width: 85vw;
    }
}

@media (max-width: 1325px) {
    .left_filter_game_list_container {
        width: 90vw;
    }
}

@media (max-width: 825px) {
    .left_filter_game_list_container {
        margin: 160px 0 0 0;
    }
}
