.cartContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.heading {
    font-size: 32px;
    color: #dcdcdc;
    margin-bottom: 20px;
}

.emptyCart {
    font-size: 18px;
    color: #666;
}

.cartList {
    list-style: none;
    padding: 0;
}

.cartItem {
    display: flex;
    align-items: center;
    background-color: var(--first-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gameImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.gameDetails {
    flex: 1;
}

.gameTitle {
    font-size: 20px;
    color: #dcdcdc;
    margin-bottom: 10px;
}

.gamePrice {
    font-size: 16px;
    color: #dcdcdc;
    margin-bottom: 5px;
}

.removeCartBtn {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.removeCartBtn:hover {
    background-color: #e64b3b;
}

.cartActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.completeOrderBtn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.completeOrderBtn:hover {
    background-color: #218838;
}

.navLink {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
}

.navLink:hover {
    text-decoration: underline;
}

.loadingContainer,
.errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    color: #333;
}
