:root {
    --border-radius: 5px;
    --first-color: rgb(23, 23, 23);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

body {
    background-color: rgb(11, 11, 12);
    --sb-track-color: #232E33;
    --sb-thumb-color: #325065;
    --sb-size: 8px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.root_layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main_content {
    padding-left: calc(100vw - 100%);
    flex: 1;
}
